In [41]:
import numpy as np
import pandas as pd

from numpy.random import randn

np.random.seed(1001)

In [42]:
# index levels
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside, inside))
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [43]:
hier_index = pd.MultiIndex.from_tuples(hier_index)
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [44]:
df = pd.DataFrame(randn(6, 2), hier_index, ['A', 'B'])
df

             A         B
G1 1 -1.086446 -0.896065
   2 -0.306299 -1.339934
   3 -1.206586 -0.641727
G2 1  1.307946  1.845460
   2  0.829115 -0.023299
   3 -0.208564 -0.916620

In [45]:
df.loc['G1']

          A         B
1 -1.086446 -0.896065
2 -0.306299 -1.339934
3 -1.206586 -0.641727

In [46]:
df.loc['G1'].loc[1]

A   -1.086446
B   -0.896065
Name: 1, dtype: float64

In [47]:
df

             A         B
G1 1 -1.086446 -0.896065
   2 -0.306299 -1.339934
   3 -1.206586 -0.641727
G2 1  1.307946  1.845460
   2  0.829115 -0.023299
   3 -0.208564 -0.916620

In [48]:
df.index.names

FrozenList([None, None])

In [49]:
df.index.names = ['Groups', 'Num']

In [50]:
df

                   A         B
Groups Num
G1     1   -1.086446 -0.896065
       2   -0.306299 -1.339934
       3   -1.206586 -0.641727
G2     1    1.307946  1.845460
       2    0.829115 -0.023299
       3   -0.208564 -0.916620

In [51]:
df.loc['G2'].loc[2]['B']

-0.023298814726379638

In [52]:
df.xs('G1')

            A         B
Num
1   -1.086446 -0.896065
2   -0.306299 -1.339934
3   -1.206586 -0.641727

In [53]:
df.xs(1, level='Num')

               A         B
Groups
G1     -1.086446 -0.896065
G2      1.307946  1.845460