In [46]:
import pandas as pd 
import numpy as np 
import datetime as dt 
import seaborn as sns 
import matplotlib.pyplot as plt

In [47]:
ecom = pd.read_csv('ecomdata.csv')
len(ecom.index)
ecom.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [48]:
len(ecom.index)

541909

In [49]:
len(ecom.columns)

8

In [50]:
#CHEK DUPLICATES

In [51]:
print(sum(ecom.duplicated(keep='first')), 'rows affected')
ecom.dtypes

5268 rows affected

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [52]:
ecom=ecom.drop_duplicates() #DELETE DUPLICATING LINES

In [53]:
ecom['StockCode']

0         85123A
1          71053
2         84406B
3         84029G
4         84029E
           ...
541904     22613
541905     22899
541906     23254
541907     23255
541908     22138
Name: StockCode, Length: 536641, dtype: object

In [54]:
ecom

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [55]:
ecom['TotalPrice']=ecom['Quantity']*ecom['UnitPrice']
ecom

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France,10.20
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France,12.60
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France,16.60
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France,16.60
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France,14.85

In [56]:
ecom.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 536641 entries, 0 to 541908
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    536641 non-null  object
 1   StockCode    536641 non-null  object
 2   Description  535187 non-null  object
 3   Quantity     536641 non-null  int64
 4   InvoiceDate  536641 non-null  object
 5   UnitPrice    536641 non-null  float64
 6   CustomerID   401604 non-null  float64
 7   Country      536641 non-null  object
 8   TotalPrice   536641 non-null  float64
dtypes: float64(3), int64(1), object(5)
memory usage: 40.9+ MB

In [57]:
ecom.loc[ecom['TotalPrice'].idxmax()][['InvoiceNo', 'TotalPrice', 'CustomerID']]

InvoiceNo       581483
TotalPrice    168469.6
CustomerID     16446.0
Name: 540421, dtype: object

In [58]:
ecom['TotalPrice'].mean()

18.123861117581395

In [59]:
ecom.loc[ecom['TotalPrice'].idxmin()][['InvoiceNo', 'TotalPrice', 'CustomerID']]

InvoiceNo      C581484
TotalPrice   -168469.6
CustomerID     16446.0
Name: 540422, dtype: object

In [60]:
print(ecom['TotalPrice'].max())
print(ecom['TotalPrice'].min())

168469.6
-168469.6

In [61]:
ecom[ecom['Country']=='United Kingdom']['Country'].count()

490300

In [62]:
ecom['Country'].nunique()

38

In [63]:
ecom.groupby('InvoiceNo')['TotalPrice'].sum()

InvoiceNo
536365        139.12
536366         22.20
536367        278.73
536368         70.05
536369         17.85
             ...
C581484   -168469.60
C581490       -32.53
C581499      -224.69
C581568       -54.75
C581569        -7.50
Name: TotalPrice, Length: 25900, dtype: float64

In [64]:
ecom['InvoiceNo'].nunique() #COUNT UNIQUE INVOICES

25900

In [65]:
ecom['CustomerID'].nunique() #COUNT UNIQUE CUSTOMERS

4372

In [66]:
#MAX PRICE PER UNIT

In [67]:
ecom.loc[ecom['UnitPrice'].idxmax()][['Description', 'UnitPrice', 'InvoiceNo']]

Description     Manual
UnitPrice      38970.0
InvoiceNo      C556445
Name: 222681, dtype: object

In [68]:
ecom.InvoiceDate = pd.to_datetime(ecom.InvoiceDate, format="%m/%d/%Y %H:%M")
ecom

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France,10.20
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,12.60
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,14.85

In [69]:
ecom.StockCode=ecom.StockCode.str.upper()
ecom.rename(columns={"InvoiceDate":'InvoiceDateTime'}, inplace=True)
ecom

,InvoiceNo,StockCode,Description,Quantity,InvoiceDateTime,UnitPrice,CustomerID,Country,TotalPrice
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France,10.20
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,12.60
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,14.85

In [70]:
#EXTRACT DATE ONLY

In [71]:
ecom['InvoiceDate'] = ecom['InvoiceDateTime'].dt.date
ecom

,InvoiceNo,StockCode,Description,Quantity,InvoiceDateTime,UnitPrice,CustomerID,Country,TotalPrice,InvoiceDate
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30,2010-12-01
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2010-12-01
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00,2010-12-01
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2010-12-01
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2010-12-01
...,...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France,10.20,2011-12-09
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,12.60,2011-12-09
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60,2011-12-09
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60,2011-12-09
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,14.85,2011-12-09

In [72]:
ecom = ecom.drop('InvoiceDateTime', 1) #DELETE DATETIME AXIS=1
ecom

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,TotalPrice,InvoiceDate
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,United Kingdom,15.30,2010-12-01
1,536365,71053,WHITE METAL LANTERN,6,3.39,17850.0,United Kingdom,20.34,2010-12-01
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850.0,United Kingdom,22.00,2010-12-01
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850.0,United Kingdom,20.34,2010-12-01
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850.0,United Kingdom,20.34,2010-12-01
...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,0.85,12680.0,France,10.20,2011-12-09
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2.10,12680.0,France,12.60,2011-12-09
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,4.15,12680.0,France,16.60,2011-12-09
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,4.15,12680.0,France,16.60,2011-12-09
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,4.95,12680.0,France,14.85,2011-12-09

In [73]:
print(ecom.describe(percentiles=[.01,.05,.25,.5,.75,.95,.99]))
ecom.describe(include=[np.object])

            Quantity      UnitPrice     CustomerID     TotalPrice
count  536641.000000  536641.000000  401604.000000  536641.000000
mean        9.620029       4.632656   15281.160818      18.123861
std       219.130156      97.233118    1714.006089     380.656263
min    -80995.000000  -11062.060000   12346.000000 -168469.600000
1%         -2.000000       0.190000   12415.000000      -6.624000
5%          1.000000       0.420000   12621.000000       0.840000
25%         1.000000       1.250000   13939.000000       3.750000
50%         3.000000       2.080000   15145.000000       9.870000
75%        10.000000       4.130000   16784.000000      17.400000
95%        30.000000       9.950000   17898.000000      59.400000
99%       100.000000      18.000000   18212.000000     180.368000
max     80995.000000   38970.000000   18287.000000  168469.600000

,InvoiceNo,StockCode,Description,Country,InvoiceDate
count,536641,536641,535187,536641,536641
unique,25900,3958,4223,38,305
top,573585,85123A,WHITE HANGING HEART T-LIGHT HOLDER,United Kingdom,2011-12-05
freq,1114,2368,2357,490300,5292

In [75]:
print("The number of rows with negative Quantity:",sum(n < 0 for n in ecom.Quantity))
print("The number of rows with negative UnitPrice:",sum(n < 0 for n in ecom.UnitPrice))

The number of rows with negative Quantity: 10587
The number of rows with negative UnitPrice: 2

In [76]:
ecom.nunique()

InvoiceNo      25900
StockCode       3958
Description     4223
Quantity         722
UnitPrice       1630
CustomerID      4372
Country           38
TotalPrice      6204
InvoiceDate      305
dtype: int64

In [84]:
ecom[ecom['Quantity'].abs()>60000]

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,TotalPrice,InvoiceDate
61619,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,1.04,12346.0,United Kingdom,77183.6,2011-01-18
61624,C541433,23166,MEDIUM CERAMIC TOP STORAGE JAR,-74215,1.04,12346.0,United Kingdom,-77183.6,2011-01-18
540421,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2.08,16446.0,United Kingdom,168469.6,2011-12-09
540422,C581484,23843,"PAPER CRAFT , LITTLE BIRDIE",-80995,2.08,16446.0,United Kingdom,-168469.6,2011-12-09

In [85]:
ecom[(ecom['Quantity'].abs()>5000) & (ecom['Quantity'].abs()<20000)]

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,TotalPrice,InvoiceDate
4287,C536757,84347,ROTATING SILVER ANGELS T-LIGHT HLDR,-9360,0.03,15838.0,United Kingdom,-280.8,2010-12-02
74614,542504,37413,NaN,5568,0.00,NaN,United Kingdom,0.0,2011-01-28
115818,546152,72140F,throw away,-5368,0.00,NaN,United Kingdom,-0.0,2011-03-09
225528,556687,23003,Printing smudges/thrown away,-9058,0.00,NaN,United Kingdom,-0.0,2011-06-14
225529,556690,23005,printing smudges/thrown away,-9600,0.00,NaN,United Kingdom,-0.0,2011-06-14
225530,556691,23005,printing smudges/thrown away,-9600,0.00,NaN,United Kingdom,-0.0,2011-06-14
502122,578841,84826,ASSTD DESIGN 3D PAPER STICKERS,12540,0.00,13256.0,United Kingdom,0.0,2011-11-25

In [86]:
print('Number of rows in each column affected by existence of non-existing values:')
ecom.isnull().sum()

Number of rows in each column affected by existence of non-existing values:

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
UnitPrice           0
CustomerID     135037
Country             0
TotalPrice          0
InvoiceDate         0
dtype: int64

In [87]:
ecom[ecom['Quantity']<=0].head(10)

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,TotalPrice,InvoiceDate
141,C536379,D,Discount,-1,27.50,14527.0,United Kingdom,-27.50,2010-12-01
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,4.65,15311.0,United Kingdom,-4.65,2010-12-01
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,1.65,17548.0,United Kingdom,-19.80,2010-12-01
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,0.29,17548.0,United Kingdom,-6.96,2010-12-01
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,0.29,17548.0,United Kingdom,-6.96,2010-12-01
238,C536391,21980,PACK OF 12 RED RETROSPOT TISSUES,-24,0.29,17548.0,United Kingdom,-6.96,2010-12-01
239,C536391,21484,CHICK GREY HOT WATER BOTTLE,-12,3.45,17548.0,United Kingdom,-41.40,2010-12-01
240,C536391,22557,PLASTERS IN TIN VINTAGE PAISLEY,-12,1.65,17548.0,United Kingdom,-19.80,2010-12-01
241,C536391,22553,PLASTERS IN TIN SKULLS,-24,1.65,17548.0,United Kingdom,-39.60,2010-12-01
939,C536506,22960,JAM MAKING SET WITH JARS,-6,4.25,17897.0,United Kingdom,-25.50,2010-12-01

In [88]:
print('Descriptive statistics of numeric columns:\n',ecom[ecom.Description.isnull()].describe())
print('\nDescriptive statistics of CustomerID columns:\n',ecom[ecom.Description.isnull()].CustomerID.describe())

Descriptive statistics of numeric columns:
           Quantity  UnitPrice  CustomerID  TotalPrice
count  1454.000000     1454.0         0.0      1454.0
mean     -9.359697        0.0         NaN         0.0
std     243.238758        0.0         NaN         0.0
min   -3667.000000        0.0         NaN         0.0
25%     -24.000000        0.0         NaN         0.0
50%      -3.000000        0.0         NaN         0.0
75%       4.000000        0.0         NaN         0.0
max    5568.000000        0.0         NaN         0.0

Descriptive statistics of CustomerID columns:
 count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: CustomerID, dtype: float64